/* universal selectors */
* { 
    margin: 0px;
    padding: 0px
}
/* Element selector */
body {
    background-color: beige;
    color: rgb(32, 12, 12);
    font-size: 20px;
    font-family:"Goudy Bookletter 1911", sans-serif;
}
h1
{
  margin: 30px;
}
h2 {
    margin-bottom: 20px;
  }

main {
    padding: 10px 0;
}
section {
    margin: 30px;
    text-align: center;
    padding: 20px 10px 40px 10px; 
}
figure {
    margin-bottom: 40px;
}
  
img {
    display: block;
    margin: 40px auto;
    border: 10px solid #DDAF94;
    box-shadow: 10px 10px 10px;
}
  
li {
    display: inline;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    color: #FDF8F5;
}  
header {
    position: fixed;
    border-bottom: 10px solid #DDAF94;
}
  footer {
    border-top: 10px solid #DDAF94;
    color: #FDF8F5;
    text-align: center;    
}
header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #266150;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    height: 125px;
    padding: 30px;
    border: 5px solid #4F4846;
    border-radius: 20px;
    background-color: rgb(237, 212, 155);
}
  
label {
    display: inline-block;
    width: 80px;
}
    
input, 
  textarea {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #4F4846;
}   
button {
    height: 40px;
    width: 120px;
    background-color: #090403;
    color: #FDF8F5;
    position: relative;
    bottom: 50px
}
  
/* Class selector */
.bg-green {
    background-color: darkgreen;
    color: beige;
}
.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}
  
/* ID selector */
    #contact {
}